<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful - Webappl</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container text-center">
    <div>
        <h3> Your new account has been created. </h3>
        <h4><a th:href="@{/login}">Click here to login.</a></h4>
    </div>

</div>
</body>
</html>